::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #76878c!important;
}
pre {
 overflow: initial;
}
blockquote {
  padding: 10px;
}
.post-list {
  width: auto;
  padding: 0 14px;
}
.post-item {
  border-bottom: 1px solid #eee;
}
.post-item .post-item-title a {
  font-size: 1.3rem;
}
.post-inner {
  padding: 0 10px;
}